.part {
	float: left;
}
.part.left-part {
	width: 900px;
	height: 750px;
}
.part.right-part {
	width: 300px;
	height: 500px;
	background-color: gray;
}
div{
	width: 30;
	height: 45;
	background-color: gray;
}
.box.first{
 	width: 900px;
	height: 400px;	
	background-color: red;
}
.box.second{
	width: 900px;
	height: 150px;
	background-color: lightgreen;	
}
.box.third{
	width: 900px;
	height: 150px;
	background-color: lightblue;	
}
.box.fourth{
	width: 300;
	height: 450;
	background-color: gray;	
}
.box > *{
    width: 30;
	height: 45;
	background-color: gray;
}
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}